body {
  font-family: "Microsoft Jhenghei", "Microsoft YaHei", Roboto, Georgia, Cambria,"Times New Roman", Times, "Hiragino Sans GB", sans-serif !important;
}

a:focus, button:focus {
    box-shadow: none!important;
}
