body {
    font-family: Heebo, Roboto, Georgia, Cambria, "Times New Roman", Times,
        "Hiragino Sans GB", "Microsoft Jhenghei", "Microsoft YaHei", sans-serif !important;
}

*,
::before,
::after {
    border-color: #e2e8f0;
    word-wrap: break-word;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

a:focus,
button:focus {
    box-shadow: none !important;
}
